main{
    margin: auto;
    padding: 0;
    max-width: 1000px;
}
ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    
}
ul{
    padding: 0;
}
ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: large;
    color: black;
}
section{
    margin: auto;
    padding: 10px;

}
ul li a:visited{
    color: black;
    font-weight: bold;
}
ul li a:hover{
    color: black;
    font-weight: bold;
}
.card{
    margin: 0;
    padding: 0;;
}